@define-color background-color #2b3339;
@define-color border-color     #445055;

@define-color label            #d3c6aa;
@define-color image            #a7c080;

@define-color progress         #83c092;
