@define-color bg        #061115;
@define-color bg_alt    #0C171B;
@define-color bg_module #131E22;
@define-color bg_hover  #1C272B;
@define-color bg_active #242F33;

@define-color fg        #D9D7D6;
@define-color fg_dim    #4F5A5E;
@define-color fg_muted  #313C40;

@define-color red       #DF5B61;
@define-color green     #7FA38A;
@define-color blue      #6F86A3;
@define-color nord_blue #81A1C1;
@define-color bisque    #D2B9A3;
@define-color teal      #6FA3A1;
@define-color yellow    #C4B37A;
@define-color orange    #C28A63;
@define-color purple    #9A8FB5;
