@import "colors.css";

* {
  font-family: "JetBrainsMono Nerd Font Propo", "Symbols Nerd Font";
  font-weight: 600;
  font-size: 14px;
  color: @fg;
}

#waybar {
  background-color: alpha(@bg, 0.85);
  border-bottom: 2px solid alpha(@fg_muted, 1);
  transition: background-color 0.4s ease;
}

#waybar button:hover {
  background-color: alpha(@fg, 0.035);
  border-radius: 8px;
}

.tray-group-item {
  color: @fg_dim;
}

.tray-group-item:hover {
  color: @fg;
}

#tray {
  padding: 0 6px;
  background: transparent;
}

.modules-left {
  margin-left: 16px;
}

.modules-right {
  margin-right: 18px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 2px;
  min-width: 9px;
  color: @fg_dim;
  transition: color 0.25s ease;
}

#workspaces button.active {
  color: @nord_blue;
}

#workspaces button:hover {
  color: @teal;
}

#workspaces button.urgent {
  color: @red;
}

#workspaces button.empty {
  opacity: 0.45;
}

#mpris {
  color: @purple;
}

#mpris.paused {
  color: @fg_dim;
}

#custom-cava {
  color: @purple;
  opacity: 0.8;
}

#window {
  color: @fg;
  opacity: 0.85;
}

#clock {
  padding-left: 6px;
  color: @fg;
  opacity: 0.9;
}

#custom-seperator {
  margin: 0 -4px;
  color: @fg_muted;
  opacity: 0.35;
}

#custom-expand-icon {
  padding-right: 6px;
  color: @blue;
}

#custom-brightness,
#custom-nightlight {
  padding: 0 6px;
  color: @yellow;
}

#power-profiles-daemon {
  padding: 0 6px;
  color: @green;
}

#power-profiles-daemon.performance {
  color: @red;
}

#power-profiles-daemon.power-saver {
  color: @teal;
}

#network {
  padding-left: 6px;
  color: @blue;
}

#network.disconnected {
  color: @red;
}

#bluetooth {
  padding-left: 6px;
  color: @teal;
}

#bluetooth.disabled {
  color: @fg_dim;
}

#custom-volume {
  padding-left: 6px;
  color: @orange;
}

#custom-volume.muted {
  color: @fg_dim;
}

#custom-swaync {
  padding-left: 6px;
  color: @blue;
}

#custom-swaync.dnd {
  color: @purple;
}
