@import "colors.css";
* {
  font-family: "JetBrainsMono Nerd Font Propo", "Symbols Nerd Font";
  font-weight: 600;
  font-size: 14px;
}
#waybar {
  background-color: @bg0;
  border: 1px solid @grey2;
  color: @fg;
  transition-property: background-color;
  transition-duration: .5s;
}
window#waybar {
  border-radius: 12px;
}
#waybar button:hover {
  background-color: alpha(@fg, 0.04);
  border-radius: 8px;
}
.tray-group-item {
  color: @grey1;
}
.tray-group-item:hover {
  color: @fg;
}
.modules-left {
  margin-left: 16px;
}
.modules-right {
  margin-right: 18px;
}
#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
  color: @grey1;
}
#workspaces button.active {
  color: @blue;
}
#workspaces button:hover {
  color: @aqua;
}
#workspaces button.urgent {
  color: @red;
}
#workspaces button.empty {
  opacity: 0.5;
}
#mpris {
  color: @purple;
}
#mpris.paused {
  color: @grey1;
}
#custom-cava {
  color: @purple;
  opacity: 0.85;
}
#clock {
  background-color: transparent;
  color: @fg;
  opacity: 0.9;
}
#window {
  color: @fg;
  opacity: 0.85;
}
#custom-seperator {
  margin: 0 -4px;
  color: @grey0;
  opacity: 0.35;
}
/* Expand icon */
#custom-expand-icon {
  padding-right: 6px;
  color: @blue;
}
/* Tray as a whole */
#tray {
  padding: 0 6px;
}
/* System toggles */
#custom-brightness,
#custom-nightlight {
  padding-left: 6px;
  padding-right: 6px;
  color: @yellow;
}
#power-profiles-daemon {
  padding-left: 6px;
  color: @green;
}
#power-profiles-daemon.performance {
  color: @red;
}
#power-profiles-daemon.power-saver {
  color: @aqua;
}
#network {
  color: @blue;
}
#network.disconnected {
  color: @red;
}
#bluetooth {
  color: @aqua;
}
#bluetooth.disabled {
  color: @grey1;
}
#custom-volume {
  color: @orange;
}
#custom-volume.muted {
  color: @grey1;
}
#custom-brightness {
  color: @yellow;
}
#custom-nightlight {
  color: @yellow;
  opacity: 0.9;
}
#custom-swaync {
  color: @blue;
}
#custom-swaync.dnd {
  color: @purple;
}
