/* Root window */
window {
    background-color: #2b3339;
    border-radius: 12px;
    padding: 10px;
    color: #d3c6aa;
    font-family: JetBrainsMono Nerd Font;
    font-size: 14px;
}

/* Input box */
entry {
    background-color: #323c41;
    border-radius: 8px;
    padding: 8px;
    border: none;
    color: #d3c6aa;
}

/* List container */
list {
    background: transparent;
}

/* Items */
list row {
    padding: 8px;
    border-radius: 8px;
}

/* Hovered item */
list row:hover {
    background-color: #3a454a;
}

/* Selected item */
list row:selected {
    background-color: #a7c080;
    color: #2b3339;
}

/* Secondary text */
label.secondary {
    color: #9da9a0;
}
